.env           # игнорирует файл .env
.env/          # игнорирует папку .env
__pycache__/   # игнорирует папки __pycache__
*.pyc          # игнорирует скомпилированные Python-файлы
*.env          # на всякий случай, все файлы с расширением .env